<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="EJBModule1PU" transaction-type="JTA">
    <jta-data-source>assets2</jta-data-source>
    <class>data.Account</class>
    <class>data.Customer</class>
    <class>data.Address</class>
    <class>data.Asset</class>
    <class>data.Assetbankuser</class>
    <class>data.Assetentity</class>
    <class>data.Assettype</class>
    <class>data.Attribute</class>
    <class>data.Attributestoragetype</class>
    <class>data.Attributetype</class>
    <class>data.Brand</class>
    <class>data.CmCategory</class>
    <class>data.CmCategorytype</class>
    <class>data.Country</class>
    <class>data.Dimaccount</class>
    <class>data.Dimcurrency</class>
    <class>data.Dimcustomer</class>
    <class>data.Dimdate</class>
    <class>data.Dimdepartmentgroup</class>
    <class>data.Dimemployee</class>
    <class>data.Dimgeography</class>
    <class>data.Dimorganization</class>
    <class>data.Dimproduct</class>
    <class>data.Dimproductcategory</class>
    <class>data.Dimproductsubcategory</class>
    <class>data.Dimpromotion</class>
    <class>data.Dimreseller</class>
    <class>data.Dimsalesreason</class>
    <class>data.Dimsalesterritory</class>
    <class>data.Dimscenario</class>
    <class>data.Division</class>
    <class>data.Factcallcenter</class>
    <class>data.Factcurrencyrate</class>
    <class>data.Factinternetsales</class>
    <class>data.Factproductinventory</class>
    <class>data.Factresellersales</class>
    <class>data.Factsalesquota</class>
    <class>data.Factsurveyresponse</class>
    <class>data.Fileformat</class>
    <class>data.Language</class>
    <class>data.Menuitem</class>
    <class>data.NextId</class>
    <class>data.Orgunit</class>
    <class>data.Region</class>
    <class>data.Usergroup</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
